__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
venv
env
.venv
.env
*.db-journal
.git
.gitignore
.vscode
.idea
*.log
.DS_Store
Thumbs.db
*.ipynb_checkpoints
catboost_info
visuals
notebook
*.md
!requirements.txt
